MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/vivienda-puebla
PORT=5000
NODE_ENV=development
JWT_SECRET=cambia_este_secreto_por_uno_seguro_123
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
AGENT_RUN_TOKEN=
